In [1]:
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt

# DATA CLEANING

In [5]:
df = pd.read_csv('labeled_data.csv')

In [6]:
df.info

<bound method DataFrame.info of        Unnamed: 0  count  hate_speech  offensive_language  neither  class  \
0               0      3            0                   0        3      2
1               1      3            0                   3        0      1
2               2      3            0                   3        0      1
3               3      3            0                   2        1      1
4               4      6            0                   6        0      1
...           ...    ...          ...                 ...      ...    ...
24778       25291      3            0                   2        1      1
24779       25292      3            0                   1        2      2
24780       25294      3            0                   3        0      1
24781       25295      6            0                   6        0      1
24782       25296      3            0                   0        3      2

                                                   tweet
0      !!! RT @mayasolovely: As a woman you shouldn't...
1      !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...                                                  ...
24778  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779  you've gone and broke the wrong heart baby, an...
24780  young buck wanna eat!!.. dat nigguh like I ain...
24781              youu got wild bitches tellin you lies
24782  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 7 columns]>

In [7]:
df.head(10)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5,5,3,1,2,0,1,"!!!!!!!!!!!!!!!!!!""@T_Madison_x: The shit just..."
6,6,3,0,3,0,1,"!!!!!!""@__BrighterDays: I can not just sit up ..."
7,7,3,0,3,0,1,!!!!&#8220;@selfiequeenbri: cause I'm tired of...
8,8,3,0,3,0,1,""" &amp; you might not get ya bitch back &amp; ..."
9,9,3,1,2,0,1,""" @rhythmixx_ :hobbies include: fighting Maria..."

In [10]:
#Rename column names which are displaced by row
df = df.rename(columns={"Unnamed: 0": "Tweet ID"})

In [12]:
#Get the Columns with NAN values
print(df.isnull().sum().sort_values())

Tweet ID              0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [13]:
df.nunique()

Tweet ID              24783
count                     5
hate_speech               8
offensive_language       10
neither                  10
class                     3
tweet                 24783
dtype: int64

In [15]:
df.isna().sum()

Tweet ID              0
count                 0
hate_speech           0
offensive_language    0
neither               0
class                 0
tweet                 0
dtype: int64

In [16]:
df.memory_usage()

Index                    128
Tweet ID              198264
count                 198264
hate_speech           198264
offensive_language    198264
neither               198264
class                 198264
tweet                 198264
dtype: int64